<!doctype html>
<html ng-app="myApp">

<head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Daily D'awww</title>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<link href="https://fonts.googleapis.com/css?family=Julius+Sans+One" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/index.js"></script>
<div class="fullscreen-bg">
        <video loop="true" class="fullscreen-bg__video" autoplay="true">
            <source src="feelBorkInc.mp4" type="video/mp4">
        </video>
    </div>
</head>
        
<body>  
    <div ng-controller="myController">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h2 id="welcomeText">Welcome. You are Logged In as
            <%= username %>
        </h2>
        </div>
        <div class="panel-body">
        <a id="logoutLink" href="/logout">Logout</a>
        <a id="editLink" href="/user">Edit User</a>
        
    </div>
    </div>
    </div>



    


    <h1><span class="rainbow">Daily D'awww</span></h1>
    
    

    <table>
        <tr> <!-- Image/Resource -->
            <td><img></td>
            <td><img></td>
            <td><img></td>
            <td><img></td>
            <td><img></td>
        </tr>
        <tr> <!-- Image/Resource -->
            <td><img></td>
            <td><img></td>
            <td></td>
            <td><img></td>
            <td><img></td>
        </tr>
        <tr> <!-- Image/Resource -->
            <td><img></td>
            <td><img></td>
            <td><img></td>
            <td><img></td>
            <td><img></td>
        </tr>
    </table>



    <script src="http://code.angularjs.org/1.2.9/angular.min.js"></script>
    <script src="/javascripts/my_app.js"></script>
</body>
      
</html>
